.navbar {
  position: fixed;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.18);
  padding: 1rem;

  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.navbar__logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  img {
    width: 160px;
    height: 35px;

    @media screen and (min-width: 2000px) {
      width: 320px;
      height: 80px;
    }
  }
}

.navbar__links {
  flex: 1;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;

  li {
    flex-direction: column;
    margin: 0 1rem;
    padding: 0.5rem;
    background: transparent;

    cursor: pointer;

    div {
      border-bottom: 2px solid transparent;

      a {
        flex-direction: column;

        color: var(--gray-color);
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 700;

        transition: all 0.3s ease-in-out;

        &:hover {
          color: var(--black-color);
        }
      }

      &:hover {
        border-color: var(--black-color);
      }
    }
  }
}

/**
* Hide menu links for larger screen size
**/
@media screen and (max-width: 900px) {
  .navbar__links--hidden {
    display: none;
  }
}

.navbar__menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 35px;
  height: 35px;
  border: 2px solid var(--black-color);
  border-radius: 2px;
  background: transparent;

  .navbar__menu-btn {
    width: 70%;
    height: 70%;
    color: var(--black-color);
  }

  &:hover {
    background: var(--black-color);

    .navbar__menu-btn {
      color: var(--white-color);
    }
  }

  div {
    position: fixed;
    z-index: 100;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;

    width: 88%;
    height: 100vh;
    padding: 1rem;

    background-color: var(--white-color);
    box-shadow: 0 0 20px rgba(168, 168, 168, 0.15);

    .navbar__menu-close {
      width: 2.5rem;
      height: 3rem;
      padding: 0.25rem 0;

      border: 2px solid var(--black-color);
      border-radius: 2px;
      color: var(--black-color);

      &:hover {
        background: var(--black-color);
        color: var(--white-color);
      }
    }

    ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      margin: 0;
      padding: 0;
      height: 100%;
      width: 100%;
      list-style: none;

      li {
        display: block;
        margin: 1rem;
        padding-bottom: 0;
        height: 5vh;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        a {
          color: var(--gray-color);
          text-decoration: none;
          font-size: 1rem;
          text-transform: uppercase;
          font-weight: 700;
          border-bottom: 2px solid transparent;

          &:hover {
            color: var(--black-color);
            border-color: var(--black-color);
          }
        }
      }
    }

    img {
      height: 150px;
      opacity: 0.2;
    }
  }
}

/**
* Hide menu button for larger screen size
**/
@media screen and (min-width: 901px) {
  .navbar__menu--hidden {
    display: none;
  }
}
